body {
	margin: 30px 0px;
	border-top: 1px solid #C9D7F1;
	width: 100%;
}

p {
	font-size: 40px;
	letter-spacing: -2px;
	font-family: Arial, Helvetica, sans-serif;
}

.g1,.g2 {
	color: #184dc6;
}

.o1,.e {
	color: #c61800;
}

.o2 {
	color: #efba00;
}

.l {
	color: #42c34a;
}

#div1 {
	margin: 5px 0px;
	position: relative;
	width: 100%;
	height: 100px;
}

#div1 .div11 {
	float: left;
	margin: 5px 0px;
	width: 180px;
	height: 80px;
	text-align: center;
	background-image: url(/anysearch/jpg/result.jpg);
	background-repeat: no-repeat;
}

#div1 .div12 {
	float: left;
	margin: 29px 0px;
	width: 500px;
	height: 30px;
}

#div2 {
	margin: 0px 0px;
	position: relative;
	width: 100%;
	height: 1000px;
}

#div2 .div21 {
	float: left;
	margin: 0px 0px;
	width: 165px;
	height: 100%;
	border-right: 1px solid #D3E1F9;
	position: relative;
	/*border-top: 1px solid #B8D4E8;
	border-bottom: 1px solid #B8D4E8;
	border-right: 1px solid #B8D4E8;
	border-left: 1px solid #B8D4E8;*/
}

#div211 {
	margin: 10px 5px;
	float: left;
	width: 150px;
	height: 15%;
	border-bottom: 1px solid #D3E1F9;
	color: #0000FF;
	/*border-top: 1px solid #B8D4E8;
	border-bottom: 1px solid #B8D4E8;
	border-right: 1px solid #B8D4E8;
	border-left: 1px solid #B8D4E8;*/
}

#div211 a:link{
	color: #0000CC;
	text-decoration: none;
}

#div212 {
	margin: 10px 5px;
	float: left;
	width: 150px;
	height: 15%;
	color: #0000FF;
	/*border-top: 1px solid #B8D4E8;
	border-bottom: 1px solid #B8D4E8;
	border-right: 1px solid #B8D4E8;
	border-left: 1px solid #B8D4E8;*/
}

#div212 a:link   ,a:hover   ,a:visited {
	color: #0000CC;
	text-decoration: none;
}

#div2 .div22 {
	position: relative;
	float: left;
	margin: 0px 10px;
	width: 80%;
	height: 100%;
}

#div2 .div {
	margin: 0px 50px 10px 0px;
	float: left;
	height: 80px;
	width: 600px;
}

#div2 .div  a:visited{
    color:#800080;
}


#div2 .div a{
    text-decoration:underline;
}

#div2 .div23 {
	margin: 10px 5px;
	float: left;
	height: 80px;
	width: 600px;
}

#account {
	width: 500px;
	height: 23px;
	size: 70;
	border-top: 1px solid #B8D4E8;
	border-bottom: 1px solid #B8D4E8;
	border-right: 1px solid #B8D4E8;
	border-left: 1px solid #B8D4E8;
	padding-top: 5px;
	font-size: 14px;
}

#button {
	background: #F1F1F1;
	padding-top: 6px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 6px;
	cursor: hand;
	color: #000000;
	font-size: 14px;
	margin: 0px 0px;
	border: none;
}
.s_input{
	width: 469px;
	height: 20px;
	border: 1px solid #b8c3c9;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	font: 16px/18px tahoma, arial, sans-serif;
	outline: 0 none;
	padding: 5px 5px 6px;
}
.s_btn{
	
	width: 100px;
	height: 33px;
	background-color:#0080FF;
	border: 0 none;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	margin-top: -1px;
	overflow: hidden;
	cursor: pointer;
}